*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f5f5f5;

    font-family:Arial, Helvetica, sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.container{

    width:460px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    text-align:center;

}

h1{

    color:#b10000;

}

.sub{

    color:#666;

    margin-top:10px;

    margin-bottom:30px;

}

.preview{

    width:300px;

    height:300px;

    border-radius:50%;

    overflow:hidden;

    border:4px dashed #cccccc;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#fafafa;

    position:relative;

}

.preview img{

    width:100%;

    height:100%;

    object-fit:cover;

    display:none;

}

#placeholder{

    color:#888;

}

button{

    margin-top:30px;

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#008f39;

    color:white;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    background:#00752f;

}